:host {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

    mat-card-header {
        display: flex;
        align-items: center;
    }

    .page-body__header-image {
        outline: unset !important;
        border-radius: unset !important;
    }

    .add-button-container {
        width: 100%;
        display: flex;
        justify-content: end;

        .add-button {
            height: 2rem;
            align-self: flex-end;
            display: flex;
            background-color: lightblue;

            .button-icon {
                display: flex;
                justify-content: center;

                img {
                    width: 1rem;
                    height: 1rem;
                }
            }

            ::ng-deep .mat-button-wrapper {
                align-self: center;
                border-radius: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                column-gap: 0.5rem;
            }
        }

        .add-button:hover {
            background-color: rgb(151, 189, 201);
        }

        .add-button:active {
            background-color: rgb(140, 176, 187);
        }
    }
}