:host {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

    mat-card-header {
        display: flex;
        align-items: center;
    }

    .page-body__header-image {
        outline: unset !important;
        border-radius: unset !important;
    }

    .page-body__mat-card__mat-card-body {
        
    }
}