<div class="page-body">
    <mat-card class="page-body__mat-card">
        <mat-card-header>
            <img class="page-body__header-image" mat-card-avatar src="assets/Images/users-page-image.png">
            <mat-card-title>{{resources ? resources.bsynchroRJP : ""}}</mat-card-title>
            <mat-card-subtitle>{{resources ? resources.demoProject : ""}}</mat-card-subtitle>
        </mat-card-header>
        <div class="page-body__mat-card__mat-card-body">
            <app-user-info-table></app-user-info-table>
        </div>
    </mat-card>
</div>