* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    overflow: auto;
    position: relative;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
}

p {
    margin: 0;
}

.background-color--transparent-black {
    background-color: hsla(0, 0%, 0%, 0);
    transition: background-color 0.5s;

    &:hover {
        background-color: hsla(0, 0%, 0%, 0.25);
        transition: background-color 0.5s;
    }
}

.button-icon {
    position: relative;
    height: fit-content;
    width: fit-content;

    img {
        width: 100%;
        height: 100%;
    }
}

.flex--dir-column {
    display: flex;
    flex-direction: column;
}

.flex--dir-row {
    display: flex;
    flex-direction: row;
}

.page-body {
    height: 100%;
    overflow: auto;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;

    .page-body__mat-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        mat-card-header {

            font-weight: bold;
            padding-bottom: 1rem;

            mat-card-title {
                font-weight: bold;
                font-size: 3.5rem;
                text-align: end !important;
            }

            mat-card-subtitle {
                font-weight: normal;
                font-size: 1.5rem;
            }

            img {
                width: 10rem;
                height: 10rem;
                outline: 0.2rem solid black;
            }
        }

        .page-body__mat-card__mat-card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 4rem;
            position: relative;
            height: 100%;
        }
    }
}

button {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}