<div class="nav-bar">
    <p class="nav-bar__title">{{resources ? resources.bsynchroRJP : ""}}</p>
    <mat-divider class="full-divider" [vertical]="true"></mat-divider>
    <button class="nav-bar__button background-color--transparent-black" mat-button routerLink="">
        <div class="button-icon">
            <img src="assets/Icons/home.png">
        </div>
        <p>{{resources ? resources.home : ""}}</p>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button class="nav-bar__button background-color--transparent-black" mat-button routerLink="Users">
        <div class="button-icon">
            <img src="assets/Icons/user.png">
        </div>
        <p>{{resources ? resources.users : ""}}</p>
    </button>
    <!-- <mat-divider [vertical]="true"></mat-divider>
    <button class="nav-bar__button background-color--transparent-black" mat-button routerLink="Endpoints">
        <div class="button-icon">
            <img src="assets/Icons/endpoints.png">
        </div>
        <p>{{resources ? resources.endpoints : ""}}</p>
    </button> -->
</div>