:host {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.main-page-body {
    height: 100%;
    overflow: auto;
    margin: 1rem;
    background-color: lightgray;
    border-radius: 0.75rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem lightgray;
}